*{
    font-family: Century Gothic;
}

  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    
  }
  #helpf{
    
    text-decoration: none;
    font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #3596e0;
width: 34px;
    height: 34px;
background-color: rgb(45, 41, 66);
border-radius: 50%;
position: absolute;
left: 97%;
text-align: center;
padding-top: 4px;
top: 87%;
  }
 #help{
    
    text-decoration: none;
    font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #3596e0;
width: 34px;
    height: 34px;
background-color: rgb(45, 41, 66);
border-radius: 50%;
position: absolute;
left: 97%;
text-align: center;
padding-top: 4px;
top: 85%;
  }
 #k{
    margin-left: 1580px;
    margin-top: -95px;

 }

  
  .wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    top: 100px;
    position: relative;
  }
body {
    background:url(image2.jpg);
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    color:rgb(0, 0, 0);
       background-repeat: no-repeat;
       background-size:cover;
    }
    
    .page-container {
        position: absolute;
        top: 45%;
        left: 50%;
        margin: -150px 0 0 -150px;
        width:300px;
        height:300px;
        margin-top: -10%;
        color: #000;

    }
    
    h1 {
        font-size: 30px;
        font-weight: 500;
        text-shadow:0 1px 4px rgba(0,0,0,.2);
        text-align:center
        ;
    }
    .wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: auto;
        top: 100px;
        position: relative;
      }
      h2.inactive {
        color: #cccccc;
      }
      
      h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
      }
    form {
    position:relative;
    width:305px;
    margin:15px auto 0 auto;
    text-align:center;
    margin-top: 50px;

    }
    
    input { 
        width: 100%; 
        margin-bottom: 10px; 
        background: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 20px "Times New Roman", Times, serif;
        text-align:center;
       

        
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(207, 199, 199, 0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }
    input:focus { box-shadow: inset 0 -5px 45px rgba(10, 10, 10, 0.4), 0 1px 1px rgba(255,255,255,0.2); }
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-color: #39ace7;
      }
      
      #register-link {
        margin-top: -30px;
        margin-left: 105%;

        
      }
      #row {
        margin-top: 10px;
        margin-right: 100px;
      }
    button {
    cursor:pointer;
    width:100px;
    height:44px;
    margin-top:25px;
    padding:0;
    background:#ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #ff730e;
    -moz-box-shadow:

            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    font-family:'PT Sans', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:700;
    color:#000000
    ;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }
    
    button:hover {
        -moz-box-shadow:
            0 15px 30px 0 rgba(3, 3, 3, 0.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(8, 8, 8, 0.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:
            0 15px 30px 0 rgba(0, 0, 0, 0.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    }
    
    button:active {
        -moz-box-shadow:
            0 15px 30px 0 rgba(2, 2, 2, 0.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(2, 2, 2, 0.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:        
            0 5px 8px 0 rgba(0,0,0,.1) inset,
            0 1px 4px 0 rgba(0,0,0,.1);
    
        border: 0px solid #ef4300;
    }
    
    
    
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
    }
    
 
.search-form .form-group {
    left: 10px;
    float: left !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: rgb(128, 179, 255)
    ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid rgb(39, 37, 37);
  position: absolute;
  }
  .search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
    margin-right: 1000px;

  }
  .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
  }
  .search-form .form-group:hover,
  .search-form .form-group.hover {
    width: 300px;
    border-radius: 4px 25px 25px 4px;

  }
  .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;

  }
   
 
  #Head1{
    background-color: #284560;
  color: white;
  padding: 0.8em;
  font-family: sans-serif;
  font-size: 12px;
  text-align: right;
  
  }
  
  header{
  background-image: #2a577f;
  background-color: #2a577f;
    color: white;
    padding:1.6em;
    text-align: left;
    font-size: 16px;
    text-decoration:none;
  }
  #s{
    text-align: right;
    margin-right: 2100px;
    margin-top: -121px;

    }
    #f{
        text-align: right;
        margin-right: 2100px;
        margin-top: -220px;
    
        }
  #Head2{
  background-color:#534f69;
  color: white;
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 18px;
  text-align-last: right;
  }

  #hd{
    background-color: #534f69;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    }
  #menu{
      
      margin-left: 1000px;
margin-top: -38px; 

  }
   
  #menu li{
display: inline;
    list-style-type: none;
   
  }
  #menu li a{
    color: rgb(0, 0, 0);
    display:inline-block;
    text-decoration: none;
    opacity: 0.7;
    padding: 10px;
    float: right;
    
  }
  #menu li a:hover{
    background-color: rgb(145, 131, 131);
    }


    #t{
      
        margin-left: 1000px;
  margin-top: -40px;

    }
    
   
    #t li a{
      color: rgb(0, 0, 0);
      display:inline-block;
      text-decoration: none;
      opacity: 0.7;
      padding: 10px;
      float: right;
      
    }
    #t li a:hover{
      background-color: rgb(146, 140, 140);
      }


  footer{
  background-color: #284560;
  color: white;
  padding: 2em;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 60px;
  }
 
    .big-btn{
        padding: 10px 0px 11px 0px;
        width: 215px;
        margin-top:5px;
        margin-bottom:100px ;
        }
        
        .big-btn i{
        font-size: 65px;
        margin-right: 0px !important;
        }
        .big-btn strong{
        font-size: 30px;
        text-shadow: 1px 2px 0px rgb(151, 78, 84);
        color: rgb(8, 8, 8);
        line-height: 24px;
        margin-top: 50px;

        }
        .big-btn .btn-text{
        margin-top:6px;
        }
        
        .big-btn small{font-size: 80%;}
        
        .android-btn{
        
        width: 240px;
        padding: 13px 17px 13px 0px;
        background-color: #000;
        border-color: #000;
        
        }
        .android-btn:hover{
        background-color: #534f69;
        

        }
        
        .android-btn i{
        font-size: 55px;
        }
        
        .android-btn .btn-text{
        margin-top: 0px;
        }
        
        .android-btn strong{
        font-size: 25px;
        text-shadow: none;
        color: #fff;
        line-height: 24px;
        }
        #g{
            margin-top: 500px;
        }